<div class="container">
	<h2>Dashboard</h2>
	<div class="headerList">
			<div>Customer</div>
			<div>Date</div>
			<div>Status</div>
			<div>Action</div>
		</div>
		<div class="clear-fix itemList" ng-repeat="purchase in purchases" ng-class-even="'odd'" ng-class-odd="'odd'">
			<div>{{purchase.customer.name}}&nbsp;{{purchase.customer.surname}}</div>
			<div>{{purchase.date | date:'yyyy-MM-dd HH:mm'}}</div>
			<div>{{purchase.status | purchaseStatus}}</div>
			<div><a ng-href="/purchases/delete/{{purchase._id}}"><img src="/images/Bin-24.png" alt="Delete" title="Delete"></a></div>
		</div>
		<br/>
		<br/>
</div>
