<div class="container">
    <h2>Dashboard</h2>
    <div class="headerList">
        <div>Status</div>
        <div>Count</div>
        <div>Oldest</div>
        <div>Newest</div>
    </div>
    <div class="clear-fix itemList" ng-repeat="counter in counters" ng-class-even="'even'" ng-class-odd="'odd'">
        <div>{{ counter._id | purchaseStatus }}</div>
        <div>{{ counter.count }}</div>
        <div>{{ counter.oldest | dateTimeFormat }}</div>
        <div>{{ counter.newest | dateTimeFormat }}</div>
    </div>
    <br />
    <br />
    <h3>Today Summary</h3>
    <div class="headerList">
        <div>Status</div>
        <div>Count</div>
        <div>Modified</div>
    </div>
    <div class="clear-fix itemList" ng-repeat="todayCounter in todayCounters" ng-class-even="'even'" ng-class-odd="'odd'">
        <div>{{ todayCounter._id | purchaseStatus }}</div>
        <div>{{ todayCounter.count }}</div>
        <div>{{ todayCounter.modified | timeFormat }}</div>
    </div>
    <br />
    <br />
</div>
