@container: #0785AB;
@menu: #42484D;
@body: #14A7C8;
@button: #42484D;
@buttonHover: gray;
@rowHeader: #42484D;
@rowOdd: white;
@rowEven: #EAEAEA;

@font-face {
  font-family:"Caviar Dreams";
  src: url("/fonts/Sertig.otf");
}

body {
  padding: 50px;
  background-color: @body;
  font: 28px "Caviar Dreams", Helvetica, Arial, sans-serif;
	h1{
		color: white;
	  	margin: 0px;
	}
	a {
		text-decoration: none !important;
			color: black;
	}
	.clear-fix{
  		clear: both;
  	}
	.tab{
		background-color: @menu; 
		padding: 15px;
		a {
			color: white;
			padding: 15px;
			&:hover{
				background-color: @buttonHover;
			}
		}
	}
	.container{
		margin-top: 50px;
		background-color: @container;
		padding: 10px;
		.headerList{
			margin: 10px; 
			div{
				float: left;
				width: 180px;
				height: 30px;
				background-color: @rowHeader;
				text-align: center;
				color: white;
			}
		}
		.itemList{
			margin: 10px;
			div{
				float: left;
				width: 180px;
				height: 30px;
				text-align: center;
			}
		}
		.odd div{
			background-color: @rowOdd;
		}
		.even div{
			background-color: @rowEven;
		}
	}
	.button{
		padding: 5px 10px;
		background-color: @button;
	 	margin: 0px 10px;
	 	color:white;
	  	&:hover {
			background-color: @buttonHover;
		}
		img {
		  	margin-bottom: -3px;
	  	}
	}
}
