body {
  padding: 50px;
  background-color: #C1D6D6;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  a {
		text-decoration: none !important;
  		color: black;
	}
	.tab{
		background-color: #AEC1C1; 
		padding: 15px;
		a {
			margin: 10px;
		}
	}
}

