
<div class="container">
	<h1>Customers</h1>
	<div ng-switch="!!customer._id">
	    <h2 ng-switch-when="true">Edit</h2>
	    <h2 ng-switch-when="false">New</h2>
	</div>
	<form ng-submit="save()" name="customerEditor">
		<div class="labelsContainer">
			<div>Name</div>
			<div>Surname</div>
		</div>
		<div class="fieldsContainer">
			<div>
				<input type="text" name="name" ng-model="customer.name" placeholder="name" required ng-minlength="2" ng-maxlenght="40"/>
				<span class="error" ng-show="customerEditor.name.$error.minlength">Too short!</span>
	    		<span class="error" ng-show="customerEditor.name.$error.maxlength">Too long!</span>
			</div>
			<div>
				<input type="text" name="surname" ng-model="customer.surname" placeholder="surname" required ng-minlength="2" ng-maxlenght="40"/>
				<span class="error" ng-show="customerEditor.surname.$error.minlength">Too short!</span>
	    		<span class="error" ng-show="customerEditor.surname.$error.maxlength">Too long!</span>
	    	</div>
	    </div>
		<div class="clear-fix">
			<input type="submit" class="button" value="save"/>
		</div>
	</form>
	<a ng-href="/customers">back</a>
</div>
